# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_API_TOKEN=

# Resend
RESEND_API_KEY=
CONTACT_NOTIFY_TO=
CONTACT_FROM=

# Site
NEXT_PUBLIC_SITE_URL=https://www.hbs-formation.fr
